$color-green: rgba(112, 192, 91, 1);
$color-orange: rgba(255, 102, 51, 1);
$color-grey: rgba(229, 255, 222, 1);
$color-red: rgba(252, 213, 186, 1);
$color-bg: rgb(250, 247, 235);
$color-black: rgba(65, 65, 65, 1);
$color-white:rgba(255, 255, 255, 1)
